<h2>Editing <%= @grade.grading_period %> grade
for <%= @grade.schedule.student.fullNameGrade %> <br /><%= @grade.schedule.section.course.name %></h2>

<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :schedule_id, :value => @grade.schedule_id%>
  </div>
  <div class="field">
    <%= f.label :mark %><br />
    <%= f.select :mark_id, options_from_collection_for_select(Mark.all, :id, :name, @grade.mark.nil? ? "" : @grade.mark.id), :include_blank => true%>
  </div>
  <div class="field">
    <%= f.label :effort %><br />
    <%= f.select :effort_id, options_from_collection_for_select(Effort.all, :id, :name, @grade.effort.nil? ? "" : @grade.effort.id), :include_blank => true %>
  </div>

    <% if ! @standards.empty? %>
    <h3>Standards and Benchmarks</h3>
          <% c = 0 %>
      <% @standards.each do |std| %>
        <%= std.name %>
        <ul>

          <% std.benchMarks.each do |bm| %>
            <% eg = ExtendedGrade.find_by_grade_id_and_benchMark_id(@grade.id, bm.id) %>
            
            <li><%= bm.name %>: 
            <input type=hidden id=grade+extended_grades_attributes_<%= c %>_id name="grade[extended_grades_attributes][<%= c %>][id]" value=<%= eg.id %> >
            <input type=hidden id=grade_extended_grades_attributes_<%= c%>_benchMark_id name="grade[extended_grades_attributes][<%= c %>][benchMark_id]" value=<%= bm.id %> > 
            <select id=grade_extended_grades_attributes_<%= c %>_bmGrade name="grade[extended_grades_attributes][<%= c %>][bmGrade]">
<option value=""></option>
<option value="7" <%= eg.bmGrade == "7" ? "selected='selected'" : "" %> >7</option>
<option value="6" <%= eg.bmGrade == "6" ? "selected='selected'" : "" %> >6</option>
<option value="5" <%= eg.bmGrade == "5" ? "selected='selected'" : "" %> >5</option>
<option value="4" <%= eg.bmGrade == "4" ? "selected='selected'" : "" %> >4</option>

<option value="3" <%= eg.bmGrade == "3" ? "selected='selected'" : "" %> >3</option>
<option value="2" <%= eg.bmGrade == "2" ? "selected='selected'" : "" %> >2</option>
<option value="1" <%= eg.bmGrade == "1" ? "selected='selected'" : "" %> >1</option>
<option value="NG" <%= eg.bmGrade == "NG" ? "selected='selected'" : "" %> >NG</option></select></li>
            <% c = c + 1 %>
          <% end %>

        </ul>
      <% end %>
    <% end %>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment, :rows => 8 %>
    </div>   

  <div class="actions">
    <%= f.submit 'Save', :disable_with => "Saving ..." %>
  </div>
<% end %>
<%= link_to "Back", :back %>
