<h2>Editing <%= @grade.grading_period %> grade
<% schd = @grade.schedule %>
for <%= schd.student.fullNameGrade %> <br /><%= schd.section.course.name %></h2>

<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :schedule_id, :value => schd.id %>
  </div>
    <% if Period.current_grading_period != "Sem2" || (Period.current_grading_period == "Sem2" && ! schd.student.is_MS? ) %>
  <div class="field">
    <%= f.label :mark %><br />
    <%= f.select :mark_id, options_from_collection_for_select(Mark.all, :id, :name, @grade.mark.nil? ? "" : @grade.mark.id), :include_blank => true%>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :effort %><br />
    <%= f.select :effort_id, options_from_collection_for_select(Effort.all, :id, :name, @grade.effort.nil? ? "" : @grade.effort.id), :include_blank => true %>
  </div>

    <% if ! @standards.empty? %>
    <h3>Standards and Benchmarks</h3>
          <% c = 0 %>
      <% @standards.each do |std| %>
        <%= std.name %>
        <ul>

          <% std.benchMarks.each do |bm| %>
            <% eg = ExtendedGrade.find_by_grade_id_and_benchMark_id(@grade.id, bm.id) %>
            
            <li><%= bm.name %>: 
            <input type=hidden id=grade_extended_grades_attributes_<%= c %>_id name="grade[extended_grades_attributes][<%= c %>][id]" value=<%= eg.try(:id) %> >
            <input type=hidden id=grade_extended_grades_attributes_<%= c%>_benchMark_id name="grade[extended_grades_attributes][<%= c %>][benchMark_id]" value=<%= bm.id %> > 
            <select id=grade_extended_grades_attributes_<%= c %>_bmGrade name="grade[extended_grades_attributes][<%= c %>][bmGrade]">
<option value=""></option>
<option value="7" <%= eg.try(:bmGrade) == "7" ? "selected='selected'" : "" %> >7</option>
<option value="6" <%= eg.try(:bmGrade) == "6" ? "selected='selected'" : "" %> >6</option>
<option value="5" <%= eg.try(:bmGrade) == "5" ? "selected='selected'" : "" %> >5</option>
<option value="4" <%= eg.try(:bmGrade) == "4" ? "selected='selected'" : "" %> >4</option>
<option value="3" <%= eg.try(:bmGrade) == "3" ? "selected='selected'" : "" %> >3</option>
<option value="2" <%= eg.try(:bmGrade) == "2" ? "selected='selected'" : "" %> >2</option>
<option value="1" <%= eg.try(:bmGrade) == "1" ? "selected='selected'" : "" %> >1</option>
<option value="7M" <%= eg.try(:bmGrade) == "7M" ? "selected='selected'" : "" %> >7M</option>
<option value="6M" <%= eg.try(:bmGrade) == "6M" ? "selected='selected'" : "" %> >6M</option>
<option value="5M" <%= eg.try(:bmGrade) == "5M" ? "selected='selected'" : "" %> >5M</option>
<option value="4M" <%= eg.try(:bmGrade) == "4M" ? "selected='selected'" : "" %> >4M</option>
<option value="3M" <%= eg.try(:bmGrade) == "3M" ? "selected='selected'" : "" %> >3M</option>
<option value="2M" <%= eg.try(:bmGrade) == "2M" ? "selected='selected'" : "" %> >2M</option>
<option value="1M" <%= eg.try(:bmGrade) == "1M" ? "selected='selected'" : "" %> >1M</option>
<option value="NG" <%= eg.try(:bmGrade) == "NG" ? "selected='selected'" : "" %> >NG</option>
<option value="INC" <%= eg.try(:bmGrade) == "INC" ? "selected='selected'" : "" %> >INC</option>
<option value="P" <%= eg.try(:bmGrade) == "P" ? "selected='selected'" : "" %> >P</option>
<option value="F" <%= eg.try(:bmGrade) == "F" ? "selected='selected'" : "" %> >F</option></select></li>
            <% c = c + 1 %>
          <% end %>

        </ul>
      <% end %>
    <% end %>
    <% if Period.current_grading_period != "Sem2" || (Period.current_grading_period == "Sem2" && ! schd.student.is_MS? ) %>
    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment, :rows => 8 %>
    </div>   
    <% end %>
  <div class="actions">
    <%= f.submit 'Save', :disable_with => "Saving ..." %>
  </div>
<% end %>
<%= link_to "Back", :back %>
