<h1>Entering <%= Period.current_grading_period %> Grade</h1>
<% if ! params[:schedule_id].nil? %>
  <% schd = Schedule.find(params[:schedule_id]) %>
  for <%= schd.student.fullNameGrade %><br/>
  Course: <%= schd.section.course.name %>

  <%= form_for(@grade) do |f| %>
    <% if @grade.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

        <ul>
        <% @grade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :schedule_id, :value => params[:schedule_id] %>

    <% if Period.current_grading_period != "Sem2" || (Period.current_grading_period == "Sem2" && ! schd.student.is_MS? ) %>
      <div class="field">
        <%= f.label :mark %><br />
        <%= f.select :mark_id, options_from_collection_for_select(Mark.all, :id, :name), :include_blank => true%>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :effort %><br />
      <%= f.select :effort_id, options_from_collection_for_select(Effort.all, :id, :name), :include_blank => true %>
    </div>

    <% if ! @standards.empty? %>
    <h3>Standards and Benchmarks</h3>
          <% c = 0 %>
      <% @standards.each do |std| %>
        <%= std.name %>
        <ul>

          <% std.benchMarks.each do |bm| %>
            <li><%= bm.name %>: <input type=hidden id=grade_extended_grades_attributes_<%= c%>_benchMark_id name="grade[extended_grades_attributes][<%= c %>][benchMark_id]" value=<%= bm.id %> > 
            <select id=grade_extended_grades_attributes_<%= c %>_bmGrade name="grade[extended_grades_attributes][<%= c %>][bmGrade]">
<option value=""></option>
<option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>

<option value="3">3</option>
<option value="2">2</option>
<option value="1">1</option>
<option value="7M">7M</option>
<option value="6M">6M</option>
<option value="5M">5M</option>
<option value="4M">4M</option>

<option value="3M">3M</option>
<option value="2M">2M</option>
<option value="1M">1M</option>
<option value="NG">NG</option>
<option value="INC">INC</option>
<option value="P">P</option>
<option value="F">F</option></select></li>
            <% c = c + 1 %>
          <% end %>

        </ul>
      <% end %>
    <% end %>
    <% if Period.current_grading_period != "Sem2" || (Period.current_grading_period == "Sem2" && ! schd.student.is_MS? ) %> 
      <div class="field">
        <%= f.label :comment %><br />
        <%= f.text_area :comment, :rows => 8 %>
      </div>         
    <% end %>
    <div class="actions">
      <%= f.submit 'Save', :disable_with => "Saving ..." %>
    </div>
  <% end %>
  <%= link_to "Back", :back %>
<% else %>
  Updating grade failed. Please go <%= link_to "back to grade book", root_url %> and try again
<% end %>

