<div class="print-only">
<%= render :partial => "q3_ms_front_cover_top", :locals => {:student => student} %>
	<div class="q3_ms_report_cover1">
		Grade <b><%= student.grade %></b><br />
		Year <b>2012</b><br />
		Date <b>29 March 2012</b>
	</div>
	<div class="q3_ms_report_cover2">
		Advisor: <b><%= Teacher.find(student.teacher_id).fullName %></b><br />
		Principal's Signature: <img style=" border-bottom: solid thin;" src="/deron.jpg" width="20%"><br />
		Date: 29 March 2012</b>
	</div>
</div>
<div class="print-only">

<h3>Progress Report</h3>
<p>The Progress Report indicates the child’s progress toward the end of the semester standards and benchmarks - essentially a "snapshot". Effort towards these benchmarks are specified, as well as any specific comments concerning achievement. Achievement marks (1-7) are not indicated, as many of the benchmarks are still in progress. In the report, each course instructor provides a description of topics taught, as well as intended topics for the remainder of the school year.</p>
	<div id="q3_ms_footer">
		<p style="font-size: 9px;"><i> Semester 2 (end-of-year) report will be published and available 15 June 2012.</i></p>
		<br /><br />
		<hr>
		<img  class="report_cover3" src="/report_footer.jpg
		
		" width="85%">
	</div>
</div>
<div class="page-break" ></div>

<% student.schedules.each do |sch| %>
	<div class="q3_ report_header_left">
		Student: <b><%= student.fullName %></b><br />

	</div>

	<div class="report_header_right">
		Grade: <b><%= student.grade %></b><br />

	</div>

	<div class="report_grades">
		<hr>
		<div class="report_header_left">
			Course: <b><%= sch.section.course.description %></b><br />

		</div>
		<div class="report_header_right">
			Teacher: <b><%= sch.teacher.fullName %></b>
		</div>
		<br /><br />
		
		<div class="report_grades">
			<table width="100%">
				<tr>
					<td colspan="2">
						<b>Effort is the combination of attitudes and behaviors that help Middle School students learn and study successfully. Each area is important for a student to demonstrate academic achievement at ICS.</b>
					</td>
				</tr>
				<tr>
					<td>
						On task; engaged with assigned learning without teacher influence being necessary.
					</td>
					<td class="put_center">
						<b><%= sch.interim_grades.first.on_task %></b>
					</td>
				</tr>
				<tr>
					<td>
						Shows a positive and respectful attitude toward classroom expectations and rules, with no teacher influence required.
					</td>
					<td class="put_center">
						<b><%= sch.interim_grades.first.positive_attitude %></b>
					</td>
				</tr>
				<tr>
					<td>
						Comes to class prepared in every way expected,  including homework, with no monitoring needed.
					</td>
					<td class="put_center">
						<b><%= sch.interim_grades.first.comes_prepared %></b>
					</td>
				</tr>
				<tr>
					<td>
						Attends class regularly and on time.
					</td>
					<td class="put_center">
						<b><%= sch.interim_grades.first.attends_class %></b>
					</td>
				</tr>

			</table>
		<br />
		<h3>Comments about course academic progress:</h3>
		<p><%= sch.section.section_comments.where("section_comments.period = ?", "Q3").first.try(:comment).force_encoding("UTF-8") unless sch.section.section_comments.where("section_comments.period = ?", "Q3").first.blank? %></p>
		<div class="print-only">
			<h3>Achievement</h3>
			<p> The student's achievement grade is a direct measure of the competence a student has shown in terms of skills, knowledge, and understanding of the course.</p>
		</div>
		<h3>Comments about achievement:</h3>
		<p><%= sch.interim_grades.first.comment.force_encoding("UTF-8") unless sch.interim_grades.first.comment.blank? %></p>
		</div>
	<div class="page-break" ></div>
<% end %>

