<div class="print-only">
  <%= render :partial => "q4_hs_front_cover_top", :locals => {:student => student} %>
  <div style="clear: both;">
  Dear Parents,<br /> <p>Quarter 4 ends on June 15 for Middle and High School. This interim report indicates the effort and achievement the student has demonstrated, since the semester began in January.</p>
  If you wish to contact the teacher, please use the email address of the teacher or phone the Middle/High School Office (0113711544). (All email address at ICS are <i>first.last</i>@icsaddis.edu.et)</p>
  </div>
</div>

<% student.schedules.each do |sch| %>

	<div class="report_grades">  
    <table width="100%">
      <tr>
        <td>Student's Name</td>
        <td class="put_center"><b><%= student.fullName %></b></td>
        <td>Grade Level</td>
        <td class="put_center"><b><%= student.grade %></b></td>
      </tr>
      <tr>
        <td>Course Title</td>
        <td class="put_center"><b><%= sch.section.course.description %></b></td>
        <td>Teacher</td>
        <td class="put_center"><b><%= sch.teacher.fullName %></b></td>
      </tr>
    </table>
    <br />
		<table width="100%">
      <tr>
        <td>Achievement</td>
        <td class="put_center"><b><%= sch.interim_grades.first.mark.name %></b></td>
      </tr> 
			<tr>
				<td colspan="2">
					<b>Effort is the combination of attitudes and behaviors that help High School students learn and study successfully. Each area is important for a student to demonstrate academic achievement at ICS.</b>
				</td>
			</tr>
			<tr>
				<td>
					On task; engaged with assigned learning without teacher influence being necessary.
				</td>
				<td class="put_center">
					<b><%= sch.interim_grades.first.on_task %></b>
				</td>
			</tr>
			<tr>
				<td>
					Shows a positive and respectful attitude toward classroom expectations and rules, with no teacher influence required.
				</td>
				<td class="put_center">
					<b><%= sch.interim_grades.first.positive_attitude %></b>
				</td>
			</tr>
			<tr>
				<td>
					Comes to class prepared in every way expected,  including homework, with no monitoring needed.
				</td>
				<td class="put_center">
					<b><%= sch.interim_grades.first.comes_prepared %></b>
				</td>
			</tr>
			<tr>
				<td>
					Attends class regularly and on time.
				</td>
				<td class="put_center">
					<b><%= sch.interim_grades.first.attends_class %></b>
				</td>
			</tr>

		</table>
		<br />
		<div class="print-only">
      <img style=" border-bottom: solid thin;" src="/joyce.jpg" width="20%"><br />
		  Joyce Halsey<br/>
      High School Principal
	    <div id="q3_ms_footer">
		    <br />
		    <hr>
		    <img  class="report_cover3" src="/report_footer.jpg" width="85%">
	    </div>
	    <div class="page-break" ></div>
    </div>
<% end %>

