<% grades_by_period = Grade.includes({:schedule => [ {:section => [ :course => [:standards =>[:benchMarks]] ] }]}, :extended_grades).by_period(params[:grading_period]||Period.current_grading_period).where("standards.grading_period =?", params[:grading_period]||Period.current_grading_period).joins(:student).merge(Student.where(:id => student.id)) %>

<div class="print-only">
<%= render :partial => "front_cover_top", :locals => {:student => student} %>
	<div class="report_cover1">
		Grade <b><%= student.grade %></b><br />
		Year <b>2012</b><br />
		Date <b>14 June 2012</b>
	</div>
	<div class="report_cover2">
		Advisor: <b><%= Teacher.find(student.teacher_id).fullName %></b><br />
		Principal's Signature: <img style=" border-bottom: solid thin;" src="../deron.jpg" width="20%"><br />
		Date: 14 June 2012</b>
	</div>
</div>
<table>
	<tr style="background-color: lightgray;">
		<td></td><td>Semester1</td><td>Semester2</td>
	</tr>
	<tr>
		<td>Absence</td><td><b><%= student.attendance_absent.nil? ? "None" : "%.1f" % student.attendance_absent %></b></td><td></td>
	</tr>
	<tr>
		<td>Tardies</td><td><b><%= student.attendance_tardy.nil? ? "None" : student.attendance_tardy %></b></td><td></td>
	</tr>
	<tr>
		<td colspan=3 style="text-align: center">Academic Standing *</td>
	</tr>
	<tr>
		<td>Effort</td>
    <td><b><%= student.current_grade_academic_standing_effort "Sem1" %></b></td>
    <td><b><%= student.current_grade_academic_standing_effort "Sem2" unless Period.current_grading_period != "Sem2" %></td>
	</tr>
	<tr>
		<td>Achievement</td>
    <td><b><%= student.current_grade_academic_standing_achievement "Sem1" %></b></td>
    <td><b><%= student.current_grade_academic_standing_achievement "Sem2" unless Period.current_grading_period != "Sem2"%></b></td>
	</tr>
</table>
<div class="print-only">
	<p style="font-size: 9px;">* Information regarding Academic Standing on last page.</p>
	<br /><br />
	<hr>
  <img  class="report_cover3" src="../report_footer.jpg" width="85%">
</div>
<div class="page-break" ></div>
	<div class="print-only">
		<%= render "desc" %>
	</div>
<div class="page-break" ></div>
<% grades_by_period.each do |grade| %>
			<div class="report_header_left">
				Student: <b><%= student.fullName %></b><br />

			</div>


			<div class="report_header_right">
				Grade: <b><%= student.grade %></b><br />

			</div>
	 <% if ! grade.schedule.section.course.has_standards? %>
		<div class="report_grades">
			<hr>
			<h2>High School Courses</h2>
			<p>This high school course is reported differently than middle school courses. In high school, an overall achievement grade is reported per course; individual benchmarks are not reported. The marks are 1-7, NG (no grade), or INC (incomplete). Effort grades are the same as middle school, where an overall grade is given. High school reports do not contain comments from the teacher. If you require further information, please contact the teacher directly.</p><br />
				Course: <b><%= grade.schedule.section.course.description %></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Teacher: <b><%= grade.schedule.teacher.fullName %></b><br />

			Achievement: <b><%= grade.mark.try(:name) %></b> &nbsp;&nbsp;Effort: <b><%= grade.effort.try(:name) %></b>
		</div>
		<div class="page-break" ></div>

	 <% else %>


			<div class="report_grades">
				<hr>
				<div class="report_header_left">
					Course: <b><%= grade.schedule.section.course.description %></b><br />
					Effort: <b><%= grade.effort.try(:name) %></b>
				</div>
				<div class="report_header_right">
					Teacher: <b><%= grade.schedule.teacher.fullName %></b>
				</div>
				<div class="report_grades">
				<% grade.schedule.section.course.standards.each do |std| %>
					<br />
					<b><%= std.name %></b>

					<table class = "benchmark" >
						<% std.benchMarks.each do |bm| %>
							<tr><td ><%=bm.name%></td> <td class="benchmark_value"><%= grade.extended_grades.find_by_benchMark_id(bm.id).try(:bmGrade) %></td></tr>
						<% end %>
					</table>
				<% end %>
				<br />
				<b>Comment:</b><br />
				</div>
				<div class="report_comment">
					<%= grade.try(:comment) %>
				</div>
			</div>
			<div class="page-break" ></div>
	<% end %>
<% end %>

