<div id="search" class="non-print">
  <fieldset>
    <legend>Search Student</legend>
    <%= form_tag request.url , :method => :get do %>
      Student: <%= select_tag :student, options_from_collection_for_select(Student.order(:firstName, :grade).where(:grade => (params[:grade].blank? ? [6, 7, 8, 9, 10, 11, 12] : params[:grade])), :id, :fullName, params[:student]), :include_blank => true %><br />
      Grade: <%= select_tag :grade, options_for_select(["6", "7", "8", "9", "10", "11", "12"], params[:grade]), :include_blank => true %><br />
      Grading Period: <%= select_tag :grading_period, options_for_select(["Q1", "Sem1", "Q3", "Sem2"], params[:grading_period]), :include_blank => true %><br />
      <%= submit_tag "apply" %>
   <% end %>
  </fieldset>

<hr />
<% if !  @students.blank? %> <!-- show results only when there are students returned -->

<%= raw(page_entries_info @students )%><br/><%= paginate @students %>
<hr />
</div>
	<% @students.each do |student| %>

	  <div class="print-only">
			<% if ! student.is_MS? %>
			<div class="spacer"></div>
			<% end %>
		</div>
		<div class="report_card">
			<% if student.is_MS? %>
        <% if (params[:grading_period].blank? && Period.current_grading_period =~ /Sem/)|| params[:grading_period] =~ /Sem/ %>
				  <%= render :partial => "student_standard_report", :locals => {:student => student}  %>
        <% end %>
				<div class="print-only" >
					<%= render "academic_description" %>
				</div>

			<% else %><!-- print HS reports -->
				<% if params[:grading_period] && params[:grading_period] == "Q1" %>
					<I> Quarter 1 Progress Report: August-October 2011</I>
				<% elsif params[:grading_period] && params[:grading_period] == "Sem1"%>
					<I> Semester 1 Progress Report: August-December 2011</I>
				<% elsif params[:grading_period] && params[:grading_period] == "Q3"%>
					<I> Quarter 3 Progress Report: January-March 2012</I>
				<% else %>
					<I> Final Report: August 2011 - June 2012</I>
				<% end %>
				</h2>

				<div class="aright">Student Name: <b><%= student.fullName %></b><br>        
			 	Grade: <b><%= student.grade %></b><br>   
				Advisor: <b><%= Teacher.find(student.teacher_id).fullName %></b> <br></div>
        <% if params[:grading_period] && params[:grading_period] != "Sem2" %>
				  <div class="aleft"> Absence: <b><%= student.attendance_absent.nil? ? "None" : "%.1f" % student.attendance_absent %></b><br>                                     
				  Tardies: <b><%= student.attendance_tardy.nil? ? "None" : student.attendance_tardy %></b><br></div>
        <% end %>
				<table WIDTH=100% CELLPADDING=4 CELLSPACING=0>

          <% if params[:grading_period] && params[:grading_period] == "Sem2"%>
            <tr>
						  <th rowspan="2" WIDTH=25% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
						        Subject
						      </th>
						  <th rowspan="2" WIDTH=25% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
						        Teacher
						      </th>
              <th colspan="3" WIDTH=25% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">Achievement</th>
              <th rowspan="2" WIDTH=25% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">Effort</th>
            </tr>

					  <tr>
						  <th WIDTH=15% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
						        Sem. 1
						      </th>
						  <th WIDTH=15% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
						        Exam
						      </th>
						  <th WIDTH=15% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
						        Sem. 2
						      </th>

					  </tr>

						  <% schedules = student.schedules %>
						  <% schedules.each do |sch| %>
						      <tr VALIGN=TOP>
						          <td>
						              <%= sch.section.course.description %>
						          </td>
						          <td>
						              <%= sch.teacher.fullName %>
						          </td>
						          <td class="put_center">
                          <% sem1sch = Schedule.find_by_student_id student.id %>
                          <%= sem1sch.grades.where("grades.grading_period = ?", "Sem1").first.try(:mark).try(:name) %>
						          </td>
						          <td class="put_center">
                      <% if student.grade == "12" %>
                          <b>NA</b>
                      <% else %>
						              <%= sch.final_grades.first.try(:exam) %>
                      <% end %>
						          </td>
						          <td class="put_center">
                      <% if student.grade == "12" %>
                          <%= sch.grades.first.try(:mark).try(:name) %>
                      <% else %>

						              <%= sch.final_grades.first.try(:sem2final) %>

                      <% end %>
						          </td>
						          <td class="put_center">
						              <%= sch.grades.first.try(:effort).try(:name) %>
						          </td>
						      </tr>
						  <% end %>

          <% else %>
					<tr>
						<th WIDTH=35% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
						      Subject
						    </th>
						<th WIDTH=35% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
						      Teacher
						    </th>
						<th WIDTH=15% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
						      Achievement
						    </th>
						<th WIDTH=15% STYLE="border: 1px solid #000000; padding: 0.04in">
						      Effort
						    </th>
					</tr>

						<% schedules = student.schedules %>
						<% schedules.each do |sch| %>
						    <tr VALIGN=TOP>
						        <td>
						            <%= sch.section.course.description %>
						        </td>
						        <td>
						            <%= sch.teacher.fullName %>
						        </td>
						        <td class="put_center">
						            <%= sch.grades.first.mark.try(:name) %>
						        </td>
						        <td class="put_center">
						            <%= sch.grades.first.effort.try(:name) %>
						        </td>
						    </tr>
						<% end %>
          <% end %>
				</table>
		</div><!--report_card ends here-->

		<div class="page-break" ></div>
		<% end %><!-- end HS report card -->

	<% end %><!-- end iterating @students -->
<% else %>
	<h3><i>No results showing. Make sure you search by student name or grade or grading period.</i><h3>
<% end %><!-- end printing only if user searched by any parameter -->
