<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student %><br />
    <%= f.collection_select :student_id, Student.order('firstName ASC'), :id, :fullName %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.select :section_id, Section.includes(:course).order(:course_id, :sectionNumber).map { |s| ["#{s.course.name}, #{s.sectionNumber}", s.id] } %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br />
    <%= f.collection_select :teacher_id, Teacher.order('firstName ASC'), :id, :fullName %>
  </div>
  <div class="field">
    <%= f.label :period %><br />
    <%= f.collection_select :period_id, Period.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :block %><br />
    <%= f.collection_select :block_id, Block.order(:name), :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
