<table>
  <tr>
    <th>Student</th>
    <th>Course</th>
    <th>Effort</th>
    <th>Sem 2</th>
    <th>Exam</th>
    <th>Suggested</th>
    <th>Final Sem. 2 Grade</th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.student.fullNameGrade %></td>
    <td><%= schedule.section.course.name %></td>

    <% if FinalGrade.find_by_schedule_id(schedule.id).nil? %>
      <td></td>
			<td></td>
      <td></td>
      <td>NA</td>
      <td></td>
      <% if can? :create, FinalGrade %>
      	<td><%= link_to "input grade", new_final_grade_path(:schedule_id => schedule.id)%></td>
      <% end %>
    <% else %>
      <% fg = FinalGrade.find_by_schedule_id(schedule.id) %>
      <td><%= fg.effort.blank? ? "" : fg.effort.name %></td>
      <td class="sem2"><%= fg.sem2.blank? ? "" : fg.sem2 %></td>
      <td class="exam"><%= fg.exam.blank? ? "" : fg.exam %></td>
      <td class="suggestion">NA</td>
      <td><%= fg.sem2final.blank? ? "" : fg.sem2final %></td>
      <% if can? :update, fg %>
        <td><%= link_to "edit grade", edit_final_grade_path(fg) %></td>
      <% end %>

    <% end %>

  </tr>
<% end %>
</table>

