<table>
  <tr>
    <th>Student</th>
    <th>Course</th>

    <th>Mark</th>
    <th>On Task</th>
    <th>Pos. Attitude</th>
    <th>Prepared</th>
    <th>Attends</th>
    <th></th>

  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.student.fullNameGrade %></td>
    <td><%= schedule.section.course.name %></td>

    <% if InterimGrade.by_schedule_period(params[:grading_period]||=Period.current_grading_period, schedule.id).nil? %>
			<td></td>
			<td></td>
      <td></td>
			<td></td>
      <td></td>
      <% if can? :create, InterimGrade %>
      	<td><%= link_to "input grade", new_interim_grade_path(:schedule_id => schedule.id)%></td>
      <% end %>
    <% else %>
      <td><u><%= InterimGrade.by_schedule_period(params[:grading_period]||=Period.current_grading_period, schedule.id).mark.name %><u></td>
      <td><u><%= InterimGrade.by_schedule_period(params[:grading_period]||=Period.current_grading_period, schedule.id).on_task %></u></td>
      <td><u><%= InterimGrade.by_schedule_period(params[:grading_period]||=Period.current_grading_period, schedule.id).positive_attitude %></u></td>
      <td><u><%= InterimGrade.by_schedule_period(params[:grading_period]||=Period.current_grading_period, schedule.id).comes_prepared %></u></td>
      <td><u><%= InterimGrade.by_schedule_period(params[:grading_period]||=Period.current_grading_period, schedule.id).attends_class %></u></td>
      <% if can? :update, InterimGrade.by_schedule_period(params[:grading_period]||=Period.current_grading_period, schedule.id) %>
        <td><%= link_to "edit grade", edit_interim_grade_path(InterimGrade.by_schedule_period(params[:grading_period]||=Period.current_grading_period, schedule.id)) %></td>
      <% end %>
    <% end %>

  </tr>
<% end %>
</table>

