<table>
  <tr>
    <th>Student</th>
    <th>Course</th>

    <th>Mark</th>
    <th>Effort</th>
    <th></th>

  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.student.fullNameGrade %></td>
    <td><%= schedule.section.course.name %></td>

    <% if Grade.by_schedule_period(params[:grading_period]||Period.current_period, schedule.id).nil? %>
      <td></td>

      <td></td>
      <% if can? :create, Grade %>
      	<td><%= link_to "input grade", new_grade_path(:schedule_id => schedule.id)%></td>
      <% end %>
    <% else %>

      <td><u><%= Grade.by_schedule_period(params[:grading_period]||Period.current_period, schedule.id).mark.name %><u></td>
      <td><u><%= Grade.by_schedule_period(params[:grading_period]||Period.current_period, schedule.id).effort.name %></u></td>
      <% if can? :update, Grade.by_schedule_period(params[:grading_period]||Period.current_period, schedule.id) %>
        <td><%= link_to "edit grade", edit_grade_path(Grade.by_schedule_period(params[:grading_period]||Period.current_period, schedule.id)) %></td>
      <% end %>
    <% end %>

  </tr>
<% end %>
</table>

