<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @schedule.student.fullName %>
</p>

<p>
  <b>Course/b>
  <%= @schedule.section.course.name %> section no. <%= @schedule.section.sectionNumber %>
</p>

<p>
  <b>Teacher:</b>
  <%= @schedule.teacher.fullName %>
</p>

<p>
  <b>Period:</b>
  <%= @schedule.period.name %>
</p>

<p>
  <b>Block:</b>
  <%= @schedule.block.name %>
</p>




<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', grid_schedules_path %>
