<h1>verification</h1>
<div id="search">
  <fieldset>
    <legend>Select Teacher</legend>
    <%= form_tag request.url , :method => :get do %>

        Teacher: <%= select_tag :teacher, options_from_collection_for_select(Teacher.order(:firstName), :id, :fullName, params[:teacher]), :include_blank => false %><br />


      <%= submit_tag "apply" %>
    <% end %>
  </fieldset>
</div>

<% Block.by_teacher(params[:teacher], Period.current_grading_period).each do |b| %>
<hr />
    <h2><%= Teacher.find(params[:teacher]).fullName + " Block " + b.name %></h2><h2> <%= Period.current_grading_period %> Grade Verification </h2>
<hr />
    <table >
      <tr>
        <th id="name">Student</th>
        <th id="course">Course</th>
        <th>Mark</th>
        <th id="grade">Effort</th>
        <th></th>

      </tr>

    <% @schedules.where(:block_id => b.id).each do |schedule| %>
      <tr>
        <td><%= schedule.student.fullNameGrade %></td>
        <td><%= schedule.section.course.name %></td>

        <% if Grade.by_schedule_period(Period.current_grading_period, schedule.id).nil? %>
          <td></td>
          <td></td>

          <td>&#9744</td>
        <% else %>

          <td><%= Grade.by_schedule_period(Period.current_grading_period, schedule.id).mark.try(:name) %></td>
          <td><%= Grade.by_schedule_period(Period.current_grading_period, schedule.id).effort.try(:name) %></td>
          <td>&#9744</td>
        <% end %>
      </tr>
    <% end %>
    </table>
<% end %>
<h2>End -- <%= Teacher.find(params[:teacher]).fullName %></h2>
