<p id="notice"><%= notice %></p>

<p>
  <b>Section:</b>
  <%= @section_comment.section.course.name + " Block " + @section_comment.section.schedules.first.block.name %>
</p>

<p>
  <b>Teacher:</b>
  <%= @section_comment.teacher.fullName %>
</p>

<p>
  <b>Period:</b>
  <%= @section_comment.period %>
</p>

<p>
  <b>Comment:</b>
  <%= @section_comment.comment %>
</p>


<% if can? :update, @section_comment %>
	<%= link_to 'Edit', edit_section_comment_path(@section_comment) %> |
<% end %>
<%= link_to 'Back', :back %>
