<h1>Listing standards</h1>
<%= render 'search' %>
<hr />
<%= raw(page_entries_info @standards )%><br/><%= paginate @standards %><br />
<%= link_to "Add Standard", new_standard_path(:course_id => params[:course_id]||"" ) %><br/>
<br />

<% @standards.each do |standard| %>

  <b><%= standard.grading_period %>&nbsp;&nbsp;&nbsp;<%= standard.course.name %></b><br />
  <%= standard.name %>&nbsp;&nbsp;&nbsp;<%= link_to "edit", edit_standard_path(standard) %>
  <% bench_marks = standard.benchMarks %>

  <% if bench_marks || bench_marks.size != 0 %>
    <ul>
    <% standard.benchMarks.each do |b| %>
    	<li><%= b.name %></li>
    <% end %>
    </ul>
	<% end %>
<% end %>

<br />

